<% if logged_in? %>
    <p>Hi, <%= current_user.name %> thanks for visiting</p>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
        <input type=submit value='logout'>
      <% end %>
<% else %>
    <%= link_to "Sign In", signin_path %>
    <%= link_to "Sign Up", signup_path %>
<% end %>