<!DOCTYPE html>
<html>
  <head>
    <title>JobApplicationBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <h1>Welcome to Relier</h1>
  <p>An online job board dedicated to helping you find the right job.</p>
  </div>
  <% flash.keys.each do |f| %>
    <%= flash[:f] %>
  <% end %>
    <%= yield %>
  </body>
</html>
